In [ ]:
q1

In [228]:
for i in range(4):
    for j in range(0,i+1):
        print("ineuron",end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [ ]:
q2

In [263]:
for i in range(5):
    for j in range(5):
        if i+j==2 or i+j==6 or ((i+j==4) and (i!=0 and j!=0)):
            print("ineuron", end=" ")
        else:
            print(" "*len("ineuron"), end=" ")
        
    print("\n")

                ineuron

        ineuron         ineuron

ineuron         ineuron         ineuron

        ineuron         ineuron

                ineuron

In [264]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:5,7:8},["ineuron","data science"]]

q3

In [270]:
for i in l:
    if type(i)==list:
        for j in i:
             print(j)

1
2
3
4
ineuron
data science

q4

In [307]:
for i in l:
    if type(i)==dict:
        for j,k in i.items():
            print(j)
            print(k)

k1
sudh
k2
ineuron
k3
kumar
3
5
7
8

q5

In [308]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 5, 7: 8},
 ['ineuron', 'data science']]

In [309]:
for i in l:
    if type(i)==tuple:
        for j in i:
             print(j)

2
3
4
5
6
3
4
5
6
7

q6

In [310]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 5, 7: 8},
 ['ineuron', 'data science']]

In [312]:
for i in l:
    if type(i)==int or type(i)==dict:
        for j in i:
            print(j)

k1
k2
k3
3
7

In [329]:
for i in l:
        for j in i:
            if type(j)==int and type(j)!=dict:
                print(j)
        if type(i)==dict:
            for k,v in i.items():
                if type(k)==int or type(v)==int:
                    print(v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
7
5
8

q7

In [339]:
l1=[]
for i in l:
        for j in i:
            if type(j)==int and type(j)!=dict:
                l1.append(j)
        if type(i)==dict:
            for k,v in i.items():
                if type(k)==int or type(v)==int:
                    l1.append(v)
print("summation of numerical value is:",sum(l1))

summation of numerical value is: 155

q8

In [340]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 5, 7: 8},
 ['ineuron', 'data science']]

In [359]:
for i in l:
    if type(i)==list:
        for j in i:
            if j==1 or j==3:
                print(j)

1
3

In [ ]:
q9

In [360]:
for i in l:
    if type(i)==list:
        for j in i:
            if j=="ineuron":
                print(j)

ineuron

In [ ]:
q10

In [375]:
l2=[]
for i in l:
    for j in i:
        l2.append(j)
    if type(i)==dict:
        for k,v in i.items():
            l2.append(v)
for i in set(l2):
    print(i,":",l2.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 4
6 : 2
7 : 2
k2 : 1
sudh : 1
8 : 1
45 : 1
data science : 1
ineuron : 2
23 : 1
kumar : 1
k1 : 1
k3 : 1

In [ ]:
q11

In [413]:
b=0
l3=[]
for i in l:
    if type(i)==dict:
        for j in i:
            l3.append(j)
            b=b+l3.count(j)
print(b)

5

In [ ]:
q12

In [421]:
for i in l:
    if type(i)!=dict:
        for j in i:
            if type(j)==str:
                print(j)
for i in l:
    if type(i)==dict:
        for k,v in i.items():
            if type(v)==str or type(k)==str:
                print(k)
                print(v)

ineuron
data science
k1
sudh
k2
ineuron
k3
kumar

In [ ]:
q13

In [430]:
for i in l:
    if type(i)==dict:
        for k in i:
            if type(k)==str:
                print(k)

k1
k2
k3

In [ ]:
q14

In [450]:
n=1
for i in l:
    if type(i)!=dict:
        for j in i:
            if type(j)==int and type(j)!=str:
                n=n*j
    if type(i)==dict:
            for k,v in i.items():
                if type(k)==int and type(v)==int:
                    n=n*k*v
                    print(n)
                    n=1
    if n!=1:
        print(n)
    n=1

24
720
2520
20700
15
56

In [ ]:
q15

In [453]:
l5=[]
for i in l:
    if type(i)!=dict:
        for j in i:
            l5.append(j)
for i in l:
    if type(i)==dict:
        for j,k in i.items():
            l5.append(j)
            l5.append(k)
        
print(l5)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'ineuron', 'data science', 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 5, 7, 8]